{% load static %}
<!-- Main header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand company-logo" href="index.html">
                <img src="{% static 'img/logos/black-logo.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class ="nav-link active"
                        class="nav-link"
                        href="#">
                        Home
                        </a>
                    </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
          <a class="dropdown-item" href="#">Our Services</a>
          <a class="dropdown-item" href="#">Contact</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Read
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
          <a class="dropdown-item" href="#">Essays & Articles</a>
          <a class="dropdown-item" href="#">Books</a>
          <a class="dropdown-item" href="#">Answers</a>
          <a class="dropdown-item" href="#">Book Reviews</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Watch
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
          <a class="dropdown-item" href="#">Sapient Thoughts</a>
        </div>
      </li>
        <li class="nav-item">
            <a class ="nav-link active" class="nav-link" href="#">Listen</a>
        </li>

      <li class="nav-item">
        <a class ="nav-link active" class="nav-link" href="#">Learn</a>
      </li>
      <li class="nav-item">
        <a class ="nav-link active" class="nav-link" href="#">Lighthouse Mentoring</a>
      </li>
      <li class="nav-item" style=" margin: 5px; background-color: red">

      <a href="https://sapienceinstitute.org/donate/" class="action_button top-bar-right-button ">Donate</a>
      </li>
      </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Main header end -->